@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    /* height: 100vh; */
    background-color: #000;
    color: #f6f6f6;
    box-sizing: border-box;
}
.cabecalho{
    padding: 2% 0 0 15%;
}
.cabecalho_menu{
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22d4fd;
    text-decoration: none;
}
.titulo-destaque {
    color: #22d4fd;
}
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao_conteudo_titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
.apresentacao_conteudo_texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.apresentacao_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
.apresentacao_links_subtitulo{
    font-family: 'Krona One', 'sans-serif';
    font-weight: 400;
    font-size: 24px;

}
.apresentacao_links_link {
    /* background-color: #22d4fd; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22d4fd;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
}
.apresentacao_links_link:hover {
    background-color: #272727;
    padding: 4%;
}
.rodape{
    color: #000000;
    background-color: #22d4fd;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}